body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

h1 {
    font-size: 48px;
    margin: 0;
    margin-right: 20px;
    padding-top: 5px;
}

h2 {
    font-size: 48px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 5px;
    color: #979797;
}

a {
    margin: 0px;
    padding: 0px;
}

.homepageheaders {
    display: inline;
    
}

.homepageheaders h2 {
    margin-top: 60px;
}

/*div {
    margin: 0px;
    padding: 0px;
    max-height: 60px;
}*/

/*img {
    max-height: 100%;
    min-width: 100%;
    vertical-align: top;
}*/

p {
    margin-right: 300px;
    font-size: 24px;
}


.titlecard {
    text-align: right;
    line-height: 1.2;
    position: sticky;
    top: 0px;
    
}

.titlecard p {
    color: #979797;
    margin-top: 10px;
    margin-right: 65px;
    font-size: 24px;
    line-height: 10px;
}

.homepageheader {
    
}

#composer {
    margin-right:25px;
}

#highlighted {
    text-align: left;
    display: inline;
}

#austinwilson {
    display: inline;
    text-align: right;
    margin-bottom: 30px;
}

.navmenu {
    background-color: #979797;
    color: #000;
    margin: 0;
    padding: 0;
    justify-content: left;
    position: sticky;
    top: 0px;
    font-size: 24px;
    height: 62px;
    z-index: 0; 
}

.navmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    top: 0px;
    z-index: 1;
}

.navmenu ul li {
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navmenu ul li a {
    text-decoration: none;
    color: #000;
}

.highlightedprojects {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex-grow: 10;
    */
    margin-top: 60px;
    width: 40%;
    text-align: left;
    /*height: 814px;*/
}

.highlightedprojects ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start ;
    align-content: flex-start;
    align-items: stretch;
}
  
.highlightedprojects li {
    
    
}

.highlightedprojects li:last-child {
    height: 20vh;
    flex-grow: 10;
}
  
.highlightedprojects img {
    object-fit: cover;
    vertical-align: bottom;
}



/*------------------------------------------about-----------------------------------------------*/
.aboutme {
    display: block;
    margin: 0 auto;
}
#hi {
    font-size: 144px;
    margin-left: 120px;
    float: left;
    margin-right: 60px;
}

#ilike {
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    display: block;
}


.thingsilike {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.thingsilike img{
    
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 0px;
    max-width: 220px;
    

}


#austinstory{
    margin-left: 340px;
    margin-right: 100px;
    width: 40%;
    min-width: 700px;
}

#austin {
    
    min-width: 400px;
    
    max-height: 600px;
    float: left;
    margin-right: 30px;
}

#sports {
    min-height: 100%;
}

/*------------------------------------------resume-----------------------------------------------*/

.resume img{
    width: 40%;
    min-height: 20%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: baseline;
    padding-top: 20px;
    margin-bottom: 60px;
}

#pdfdownload {
    width: 20%;
    min-width: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 48px;
    background-color: ghostwhite;
    border-radius: 14px;
}

#buttonlink {
    text-decoration: none;
    color: #000;
}
